.container{
    display: grid;
    grid-template-areas:
    'headline headline headline'
    'item1 item2 item3'
    'copyright copyright copyright';
    gap: 1rem;
    font-family: Brushstroke;
    text-align: center;
  }
  
    .headline,
    .about,
    .item1,
    .item2,
    .item3,
    .projects,
    .copyright {
      border: 1px;
      border-color: rgb(11, 11, 13);
      border-style:solid;
      padding: 5px;
      color: rgb(0, 0, 0);
      box-shadow: 3px 6px rgb(227, 222, 233);
    }

    .headline{
      grid-area: headline;
      text-align: center;
      font-family: cursive;
    }
    .item1{
      grid-area: item1;
    }
    .item2{
      grid-area: item2;
    }
    .item3{
      grid-area: item3;
    }
    .copyright{
      grid-area: copyright;
      text-align: center;
    }

  h3{
    text-align: center;
  }
  footer{
    text-align: center;
  
  }
  nav{ 
      list-style-type: none;
      padding: 0;
      margin: 0;
      overflow: hidden;
      background-color: rgb(205, 205, 236);
      box-shadow: 3px 6px rgb(235, 225, 245);
  }
  ul{
     list-style-type: none;
     padding: 1;
     margin: 0;
     overflow: hidden;
     background-color: rgb(209, 165, 229);
     text-align:center;
     font-family: Century Gothic;
     
     
  }
  li a{
      float: left;
      display: block;
      color: rgb(255, 255, 255);
      padding: 10px 15px;
      text-align: center;
      text-decoration: none;
      border-right: 1px none rgb(218, 167, 167);
      min-width: 60px;
      font-family:Century Gothic ;
  }
  li a:hover{
  
      background-color: rgb(241, 230, 163);
  }
  
  h1{
    text-align: center;
  }
  p{
    text-align: center;
    font-family: Century Gothic;
    background-color:rgb(245, 234, 242);
  }

  body{
    background-color: rgb(245, 234, 242);
}
.headline{
    font-family:Brushstroke;
    text-shadow:  1px 3px rgb(189, 212, 238);
    color: rgb(34, 5, 61);
}
.about{
    font-family:Brushstroke;
    text-shadow:  1px 3px rgb(189, 212, 238);
    color: rgb(13, 2, 23);
}
.projects{
    font-family:Brushstroke;
    text-shadow:  1px 3px rgb(189, 212, 238);
    color: rgb(34, 5, 61);
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 170px;
  }
img{
  width: 400px;
  height: 300px;
}
.links{
  text-align: center;
  font-family: Century Gothic;
}